.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 8rem;
    background: none;
}

.icon-container {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.icons:hover {
    cursor: pointer;
}

.nav-menu {
    background-color: black;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 100;
}

#title {
    color: #76E1D4;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    background-color: black;
}

.nav-text {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    border-radius: 4px;

    
}

.nav-text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    
}

.nav-text:hover {
    background-color: rgb(49, 98, 153);
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;

}

li .nav-link {
    margin-left: 12px;
}

li {
    height: 20px;
}

.logo {
    height: 30px;
    width: 30px;
}
h4{
    margin: auto 8px;
}

#span {
    font-size: 20px;
}

.back {
    position: absolute;
    top: 20px;
    left: 170px;
    cursor: pointer;
    
}

.back:hover {
    background-color: rgb(49, 98, 153);
    border-radius: 50%;
}


/* animation */

.name {
    position: relative;
    top: 0;  
    font-size: 200%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;


}
.anim-typewriter{
    animation: typewriter 1500ms steps(30) 1s 1 normal both,
               blinkTextCursor 500ms steps(30) 1s 1 normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 5.5em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: transparent;}
    to{border-right-color: transparent;}
  }

