@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #76E1D4;
}


#income, #incomeRecord {
  color: #38ef7d !important;
}

#expense, #expenseRecord {
  color:#ffdde1 !important;
}

#title{
  color: #76E1D4;
}

.iconContainer{
  position: relative;
  display: flex;
}

.showIcon {
  position: absolute;
  z-index : 1;
  right: 10px;
  top: 8px;
  color: black;
  
 
}

#firstName, #lastName, #email, #password, #confirmPassword, #name, #category, #description, #amount {
  background-color: black !important;
  color: #76E1D4;
}

option {
  color: black;
}

#firstName:focus, #lastName:focus, #email:focus, #password:focus, #confirmPassword:focus, #name:focus, #category:focus, #description:focus, #amount:focus{
  background-color:#ffdde1 !important;
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.dark-bg {
  background-color:  black !important;
  color: white;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: #ffdde1;
}

.link:hover {
  text-decoration: none;
  color: #FFA900;
}



.page-link:focus {
  background-color: #FFA900;
}

/* animation */
.analysis {
  position: relative;
  top: 0; 
  left: 160px; 
  font-size: 200%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  

}
.typewriter{
  animation: typewriter 1s steps(25) .5s 1 normal both,
             blinkTextCursor 500ms steps(25) 1s 1 normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 3em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: transparent;}
  to{border-right-color: transparent;}
}


.editIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  
}

#recordContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.buttons:focus, .page-link:focus {
  outline: none;
}



